name: CI/CD Pipeline

on:
  push:
  pull_request:

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Run Tests + Coverage + HTML Report
        run: |
          pytest \
            --cov=. \
            --cov-report=xml \
            --html=test-report.html \
            --self-contained-html
      
      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test-report.html

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-xml
          path: coverage.xml
      
      - name: Save Coverage Percentage
        run: |
          COVERAGE=$(grep -oP '(?<=line-rate=")[0-9.]+(?=")' coverage.xml)
          echo "coverage=$COVERAGE" >> $GITHUB_OUTPUT

      - name: Upload Coverage Badge to Gist
        if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          COVERAGE=$(grep -oP '(?<=line-rate=")[0-9.]+(?=")' coverage.xml)
          PERCENT=$(echo "$COVERAGE*100" | bc | cut -d'.' -f1)
          curl -X POST "https://api.github.com/gists/27bfb7ba18da11fec73a66f189ac7ea3" \
          -H "Authorization: token $GH_TOKEN" \
          -d "{\"files\": {\"coverage.json\": {\"content\": \"$PERCENT\"}}}"




  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    needs: tests   # Só roda se os testes passarem
    if: github.ref == 'refs/heads/main' && success()

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install -r requirements.txt

      - name: Health check
        run: |
          python - << 'EOF'
          import fastapi
          print("FastAPI OK ✅")
          EOF

      - name: Build Docker image
        run: docker build -t demo-app .
