name: CI/CD Pipeline

on:
  push:
  pull_request:

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest -v


  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    needs: tests   # Só roda se os testes passarem
    if: github.ref == 'refs/heads/main' && success()

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install -r requirements.txt

      - name: Health check
        run: |
          python - << 'EOF'
          import fastapi
          print("FastAPI OK ✅")
          EOF

      - name: Build Docker image
        run: docker build -t demo-app .
